@font-face {
  font-family: monument;
  src: url(/Font/MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
}

@font-face {
  font-family: mont;
  src: url(/Font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  outline:0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;

}
html{
  width: 100vw;
  overflow-x: hidden;
}


/* Preloader */


body{
  overflow-x: hidden;
  /* -webkit-scrollbar::{display: none;} */
}
body::-webkit-scrollbar {
  display: none;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease opacity 3s, visibility 1s;
}

.fade{
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 120px;
  height: 120px;  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #162534;
  border-top-color: #2CD9FF;
  border-bottom-color: #49FE97;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}
.loader--inner {
  width: 90px;
  height: 90px;
  border: 8px solid #162534;
  border-radius: 50%;
  border-top-color: #49FE97;
  border-bottom-color: #2CD9FF;
  animation: rotate2 2.5s linear infinite;
}
@keyframes rotate {
  0% {
      transform: scale(1) rotate(360deg);
  }
  50% {
      transform: scale(.8) rotate(-360deg);
  }
  100% {
      transform: scale(1) rotate(360deg);
  }
}
@keyframes rotate2 {
  0% {
      transform: scale(1) rotate(-360deg);
  }
  50% {
      transform: scale(.9) rotate(360deg);
  }
  100% {
      transform: scale(1) rotate(-360deg);
  }
}

/* Preloader */


section{
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
}

.main-width{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative; 
  background-image: url(./images/bg.png);
}




.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
  font-family: monument;
}
.logo img {width: 60px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a:hover{
  color: #49FE97;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}


.menu li::after{
  content: '';
    width: 0%;
    height: 2px;
    background:#49FE97;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.menu li:hover::after {
  width: 100%;
}

.open-menu , .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: white;
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {display: none;}
@media(max-width: 1024px){
  .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: white;
      color: black;
      transition: all 0.2s ease-in-out;
  }
  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}
}
header{
  padding: 30px 0 30px;
}

.text-scramble{
  color: #49FE97;
  font-family: monument;
  font-size: 2.3rem;
  letter-spacing: 2px;

}   


h2{
  color: #49FE97;
  font-family: monument;
  letter-spacing: 2px;
}

span{
  color: white;
}

.container{
  padding-top: 3rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.container .hero-text{
  color: white;
  font-size: 1.2rem;
  font-family: mont;
  line-height: 1.2;
  margin: 20px 0 20px 
}


.container .hero-text p{
  width: 37.25rem;
  max-width: 100%;
  color: #eee;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom:30px;
  padding-top: 0;
  letter-spacing: 0.05rem;
}

@keyframes pulse {
	25% {
		transform: scale(1.1);
	}

	75% {
		transform: scale(1);
	}
}

.container .hero-text button{
  background:white;
  font-size: 19px;
  border: 2px solid white;
  color: black;
  font-family: monument;
  border-radius: 30px;
  padding: 8px 30px;
  line-height: 24px;
  cursor: pointer;
}

.container .hero-text button:hover{
  color:#49FE97 ;
  transition: 0.4s;
  border: 2px solid white;  
  background: transparent;  
  animation-name: pulse;
	animation-duration: 1s;
	animation-timing-function: linear;
}

h3{
  font-family: monument;
  color: #eee;
  text-align: justify;
  margin-right: 0.5rem;
}

.social{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  padding: 14px;
  /* margin-top:90px; */
}

.social a{
  width: 37px;
  height: 37px;
  display: inline-flex;
  align-items: center;
  color:#49FE97;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
}

.social a:hover{
  color: aqua;
}

.about{
  padding-top:1.5rem;
  padding-bottom:1rem;
  background-color: rgb(0, 0, 0);
}

.about .container-about h1{ 
  font-family: monument;
  font-size: 1.7rem;
  margin: 1%;
  text-align: center;
  line-height: 1.5;
  color: white;
  letter-spacing: 2px; 
}

.about .container-about p{
  font-family: mont;
  font-weight: 200;
  text-align: justify;
  padding: 1.5rem;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 0;
  letter-spacing: 0.01rem;
}
/* Events */


.events{
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: rgb(0, 0, 0);  

}

.events-container{
 width: 100%;
 padding: 0 1.5rem;
 margin: 0 auto;

}

.events-container h2{
  padding: 1.5rem;
  text-align: center;
}

.events-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.events-text{
  font-family: mont;
  font-weight: 300;
  padding: 1.5rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 0;
  letter-spacing: 0.05rem;
}

.events-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-container {
  position: relative;
  margin: 24px;
  width: 270px;
  height: 300px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 10px;
}

.img-container,
.body-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
  
}

.body-container {
  position: relative;
}

.overlay-events {
  position: relative;
  width: 100%;
  height: 225px;
  /* background-color: rgba(136, 136, 136, 0.6); */
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  opacity: 0;
  transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay-events {
  opacity: 1;
  height: 120px;
}

.event-info {
  /* background-color: transparent; */
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-family: mont;
}

.title,
.price {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 12px;
}



.separator {
  width: 20%;
  height: 6px;
  background-color: #17537a;
  margin-bottom: 16px;
}

.additional-info {
  border-top: 1px solid #bbb;
  margin-top: 12px;
  padding: 28px;
  padding-bottom: 0;
}


.action {
  color: #fff;
  border: 3px solid #fff;
  background-color: transparent;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  outline: none;
  cursor: pointer;
  padding: 12px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  font-family: mont;
  transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
  top: 50px;
}

.action:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #49FE97;
}



/* Events */


/* Sponsors */
.sponsors{
  padding-top: 1.5rem;
    padding-bottom: 1rem;
    background-color: rgb(0, 0, 0);
    /* height: 100vh; */
}
.sponsors-container{
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.center{
  text-align: center;
  }
  
  .spons-center{
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr)); */
    gap: 3rem 3rem; 
    margin-top: 40px;
  }
  
  .card{
  flex: 1 1 20%;
  /* background: red; */
  border-radius: 1.2rem;
  height: 25rem;
  display: grid;
  grid-template-rows: 1.7fr 1fr;
  }

.card img {
  height: 16rem;
  object-fit: contain;
  /* border-radius: 20px; */
 /* margin-top: -2rem; */
}

.card:hover{
  transform: scale(1.1);
  transition: all linear 0.2s;
}

.card-info h4{
text-align: center;
color: white;
font-family: monument;
font-size: 1.2rem;
letter-spacing: 2px;
margin-top: 1rem;
}
.card-info p{
  margin-top: 20px;
padding: 0 1.5rem;
text-align: center;
font-size: 1rem;
font-family: mont;
font-weight: 450;
color: white;
letter-spacing: 0.01rem;
}


@media screen {
  
}
/* Sponsors */

/* Team */

.team{
  background-color: black;
  background-image: url(./images/contactbg.png);
  padding-bottom: 20px;
}
.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  flex-wrap: wrap;
}

.team-inner{
  max-width: 1400px;
  margin: 0 auto;
  font-family: mont;
  
}

.team-member .desgi{
  color: #49FE97;
  font-family: mont;
  margin: 6px;
  font-size:12px;
}

img{
  width: 100%;
  
}

.team-container{
  width: 100%;
  /* height: 120vh; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading{
  width:100%;
  padding-top: 40px;
}

.team-container p{
  font-size: 1.2rem;
  font-family: monument;
  margin: 1.5%;
  color: white;
}

.team-wrap{
  width: 18%;
  margin-top: 40px;
  min-width: 240px;
  margin: 10px;
}

.team-img img{
    -webkit-transition: all .2 ease-in-out;
    overflow: hidden;
    width:100%;
}

.team-member .team-img{
  position: relative;
  overflow: hidden;
  aspect-ratio: 21/22;
}

.team-title{
  margin: 15px 0 7px;
  font-size: 1.1rem;
  font-family: mont;
  color: white;
}

.overlay{
  background-color: rgba(20,20,20,0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition:all .2s ease-in-out;

}

.team-details{
  opacity: 0;
  top:50%;
  padding:5%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  left:0;
}

.team-details p{
  color: #fff;
}

.team-img:hover .team-details{
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay{
  opacity: 1;
}

.socials a{
  display: inline-block;
  width: 37px;
  height: 37px;
  background-color: transparent;
}

.socials span{
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-details .socials span{
  color:#49FE97;
  margin-top:30px;
  font-size: 20px;
}

.socials a:hover span{
  color: rgb(17,13,13);
  background-color: #fff;
}

.managers{
  margin-top: 40px;
}

.managers h2{
    font-size: 30px;
	text-align: center;
	margin-top:30px;
    margin-bottom: 30px;
	color:  #49FE97;
	font-weight: 700;
    font-family: monument;
}
.manager_container, .manager_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.manager_container{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 50px;
}
.manager_item {
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
    background-color: black;
    border-radius: 7px;
    flex-direction: column;
    border: 1px solid #fff;
    color: white;
    font-family: mont;
    font-size: 1.25rem;
}
.associates{
	margin-top: 40px;
   
}
.associates h2{
    font-size: 30px;
	text-align: center;
	margin-top:30px;
    margin-bottom: 30px;
	color:  #49FE97;
	font-weight: 700;
    font-family: monument;

}
.associate_container, .associate_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.associate_container{
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 50px;
}
.associate_item {
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    width: 250px;
    background-color: black;
    border-radius: 7px;
    flex-direction: column;
    border: 1px solid #fff;
    color: white;
    font-family: mont;
    font-size: 1.25rem;
}


/* Team */

/* footer */

footer{
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 5%; */
  background: #111;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #49FE97;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  font-family: mont;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #49FE97;
}
.socials a i{
  font-size: 1.4rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}


/* footer */

@media screen and (max-width: 1024px) {
  /* .text-scramble{
    height: 7rem;
  } */
  .team-wrap{
      width: 40%;
  }
}



@media only screen and (max-width: 768px) {
  
  .main-box{
    display: flex;
    flex-direction: column;
  }

  .team-wrap{
    width: 65%;
    margin-top:75px;
  }

  .card{
    flex: 1 1 45%;
  }

  .text-scramble{
    /* height: 9rem; */
    font-size: 2rem;
  }

  .additional-info {
  
    padding-bottom: 30px;
  }

  
}


@media only screen and (max-width: 512px) {
  
  .text-scramble{
    height: 10rem;
    font-size: 2rem;
  }
  .card{
    flex: 1 1 50%;
  }

  .logo img {width: 45px;}

  .additional-info {
    padding-bottom: 30px;
  }

  .container{
    padding-top:0;
  }
  
}